*{
    margin: 0;
    padding: 0;
}
body {
    background: black;
    position: relative;
}
body section {
    position: absolute;
    left: calc(50% - 200px);
}
div {
    background: #ca9905;
    padding: 10px;
}
section {
    display: grid;
    grid-row-gap: 10px;
    width: 400px;
}
.block-text {
    padding: 15px;
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}
form, table {
    display: flex;
    justify-content: center;
}
input[type=button] {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 1px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
input[type=button]:hover {
    color: white;
    background: #605c5c;
}
.scoreboard-value {
    width: 208px;
    font-size: 30px;
}
.result {
    width: 98%;
}